[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "themes/even"]
	path = themes/even
	url = git@github.com:linuxhenhao/hugo-theme-even
